<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andrew.obu"
    android:versionCode="3"
    android:versionName="3.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity 
            android:theme="@android:style/Theme.NoTitleBar" 
            android:name="com.andrew.obu.Bannerdisclaimer" />
        <activity 
            android:theme="@android:style/Theme.NoTitleBar" 
            android:name="com.andrew.obu.Applywebview" />
        <activity 
            android:theme="@android:style/Theme.NoTitleBar" 
            android:name="com.andrew.obu.Infowebview" />
        <activity 
            android:theme="@android:style/Theme.NoTitleBar" 
            android:name="com.andrew.obu.Visitwebview" />
        <activity 
            android:theme="@android:style/Theme.NoTitleBar" 
            android:name="com.andrew.obu.CurrentStudents" />
        <activity 
            android:theme="@android:style/Theme.NoTitleBar" 
            android:name="com.andrew.obu.Majors" />
        <activity 
            android:theme="@android:style/Theme.NoTitleBar" 
            android:name="com.andrew.obu.ProspectiveStudents" />
        <activity 
            android:theme="@android:style/Theme.NoTitleBar" 
            android:name="com.andrew.obu.About" />
        <activity 
            android:theme="@android:style/Theme.NoTitleBar" 
            android:name="com.andrew.obu.Contact" />
        <activity 
            android:theme="@android:style/Theme.NoTitleBar" 
            android:name="com.andrew.obu.Newswebview" />
        <activity 
            android:theme="@android:style/Theme.NoTitleBar" 
            android:name="com.andrew.obu.Athleticswebview" />
        <activity 
            android:theme="@android:style/Theme.NoTitleBar" 
            android:name="com.andrew.obu.Staffwebview" />
        <activity 
            android:theme="@android:style/Theme.NoTitleBar" 
            android:name="com.andrew.obu.Jupiterwebview" />
        <activity 
            android:theme="@android:style/Theme.NoTitleBar" 
            android:name="com.andrew.obu.Moodlewebview" />
        <activity 
            android:theme="@android:style/Theme.NoTitleBar" 
            android:name="com.andrew.obu.Emailwebview" />
        <activity 
            android:theme="@android:style/Theme.NoTitleBar" 
            android:name="com.andrew.obu.Bannerwebview" />
        <activity 
            android:theme="@android:style/Theme.NoTitleBar" 
            android:name="com.andrew.obu.Calendar" />
        <activity 
            android:theme="@android:style/Theme.NoTitleBar" 
            android:name="com.andrew.obu.Chapelswebview" />
        <activity 
            android:theme="@android:style/Theme.NoTitleBar" 
            android:name="com.andrew.obu.Academicswebview" />
        <activity 
            android:theme="@android:style/Theme.NoTitleBar" 
            android:name="com.andrew.obu.Finalswebactivity" />
        <activity
            android:theme="@android:style/Theme.NoTitleBar" 
            android:name="com.andrew.obu.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>